@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2f5f7;
  --foreground: #242529;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}

/* Custom styles for OnlyFans brand */
@layer utilities {
  .text-primary {
    color: #00aff0;
  }
  .bg-primary {
    background-color: #00aff0;
  }
  .bg-primary-hover {
    background-color: #008fca;
  }
  .text-of-gray {
    color: #8a96a3;
  }
  .bg-of-light {
    background-color: #f2f5f7;
  }
  .text-of-dark {
    color: #242529;
  }
}
